#App {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 20px;
    opacity: 1.0;
}

#input {
    padding: 10px;
    border-radius: 20px 20px 0 0;
    background-color: #1D212F;
}

.search-input {
    flex: 1;
    width: 98%;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 24px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-family: Arial;
    color: #FFFFFF;
    background-color: #1D212F;
}

#results {
    width: 98%;

}
